<h1>test</h1>
<div class="container jumbtron">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-primary">
                <div class="panel-heading"><h4 class="text-center">user</h4></div>
                <div class="panel-body">
                    <ul *ngFor="let list of userinf;let i=index">
                        <li>{{list.firstname}}</li>
                        <li>{{list.lastname}}</li>
                        <li>{{list.username}}</li>
                        
                    </ul>
                </div>
            </div>
        </div>
    </div>
  
</div>

